In [1]:
import os
from cloudmesh.common.Shell import Shell
from pprint import pprint
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib

sns.set_theme(style="whitegrid")
import pandas as pd

Using matplotlib backend: MacOSX

In [2]:
log = "result.log"
os.system(f"rm {log}")



for n in [10,
          100,
          1000, 
          10000, 
          100000, 
          1000000,
          10000000]:
    os.system (f"mpiexec -n 4 python count-click.py --n {n} --max_number 10 --find 8 "
               f"| tee -a {log}")

lines = Shell.grep("csv,Result:", log)

In [3]:
print(lines)

# csv,Result: 10,ok,0.01,0.01,2021-06-21 14:45:09,,4 40 10 8,gamera,grey,Darwin,10.16
# csv,Result: 100,ok,0.001,0.001,2021-06-21 14:45:10,,29 400 100 8,gamera,grey,Darwin,10.16
# csv,Result: 1000,ok,0.003,0.003,2021-06-21 14:45:10,,399 4000 1000 8,gamera,grey,Darwin,10.16
# csv,Result: 10000,ok,0.011,0.011,2021-06-21 14:45:11,,4010 40000 10000 8,gamera,grey,Darwin,10.16
# csv,Result: 100000,ok,0.098,0.098,2021-06-21 14:45:12,,39726 400000 100000 8,gamera,grey,Darwin,10.16
# csv,Result: 1000000,ok,1.048,1.048,2021-06-21 14:45:12,,399139 4000000 1000000 8,gamera,grey,Darwin,10.16
# csv,Result: 10000000,ok,11.45,11.45,2021-06-21 14:45:14,,4001875 40000000 10000000 8,gamera,grey,Darwin,10.16

In [4]:
values = []
times = []

for line in lines.splitlines():
    msg = line.split(",")[7]
    t = line.split(",")[4]

    total, overall, trials, find = msg.split(" ")
    values.append(int(overall))
    times.append(float(t))
    print (t)


#data = pd.DataFrame(values, times, columns=["Values", "Time"])

#print (data.describe())
#sns.lineplot(data=data, palette="tab10", linewidth=2.5)

0.01
0.001
0.003
0.011
0.098
1.048
11.45

In [5]:
data = {
    "Size": values,
    "Time": times
}

In [6]:
df = pd.DataFrame(data)

In [7]:
df

       Size    Time
0        40   0.010
1       400   0.001
2      4000   0.003
3     40000   0.011
4    400000   0.098
5   4000000   1.048
6  40000000  11.450

In [8]:
sns.lineplot(data=data, x="Size", y="Time")
sns.scatterplot(data=data, x="Size", y="Time")

In [9]:
plt.savefig('benchmark.png')

In [10]:
plt.savefig('benchmark.pdf')

In [11]:
plt.show()