This will plot and compare the resulting data. To run this, make sure that you have already generated all data you want to be compared. For instructions on how to run the generation, see README-new.md

In [11]:
import os
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import json

from cloudmesh.common.Shell import Shell
from cloudmesh.common.parameter import Parameter
from cloudmesh.common.dotdict import dotdict

from cloudmesh.common.util import banner
from analysis import get_data, read_log, generate_df
from analysis import generate_average

In [2]:
df = generate_df()

In [3]:
df

      p  size  repeat sort  user  node     t     c   time
0    18   100      10   mp  alex  v100  None  None  0.088
1    18   100      10   mp  alex  v100  None  None  0.076
2    18   100      10   mp  alex  v100  None  None  0.082
3    18   100      10   mp  alex  v100  None  None  0.075
4    18   100      10   mp  alex  v100  None  None  0.077
..   ..   ...     ...  ...   ...   ...   ...   ...    ...
475  23    50      10   mp  alex  v100  None  None  0.092
476  23    50      10   mp  alex  v100  None  None  0.073
477  23    50      10   mp  alex  v100  None  None  0.095
478  23    50      10   mp  alex  v100  None  None  0.097
479  23    50      10   mp  alex  v100  None  None  0.099

[480 rows x 9 columns]

In [5]:
print(df['time'].dtype)

float64

In [9]:
def average_df(df):
    _df = df.groupby(['p','size','repeat','sort','user','node','t','c'], sort=True, as_index=False).agg({'time':'mean'})
    _df.reset_index()
    return _df

In [10]:
_df = average_df(df)
_df

     p  size  repeat sort  user  node     t     c    time
0    1    50      10   mp  alex  v100  None  None  0.0251
1    1   100      10   mp  alex  v100  None  None  0.0152
2    2    50      10   mp  alex  v100  None  None  0.0181
3    2   100      10   mp  alex  v100  None  None  0.0172
4    3    50      10   mp  alex  v100  None  None  0.0208
5    3   100      10   mp  alex  v100  None  None  0.0235
6    4    50      10   mp  alex  v100  None  None  0.0268
7    4   100      10   mp  alex  v100  None  None  0.0245
8    5    50      10   mp  alex  v100  None  None  0.0332
9    5   100      10   mp  alex  v100  None  None  0.0333
10   6    50      10   mp  alex  v100  None  None  0.0332
11   6   100      10   mp  alex  v100  None  None  0.0343
12   7    50      10   mp  alex  v100  None  None  0.0398
13   7   100      10   mp  alex  v100  None  None  0.0411
14   8    50      10   mp  alex  v100  None  None  0.0425
15   8   100      10   mp  alex  v100  None  None  0.0441
16   9    50      10   mp  alex  v100  None  None  0.0484
17   9   100      10   mp  alex  v100  None  None  0.0476
18  10    50      10   mp  alex  v100  None  None  0.0499
19  10   100      10   mp  alex  v100  None  None  0.0508
20  11    50      10   mp  alex  v100  None  None  0.0563
21  11   100      10   mp  alex  v100  None  None  0.0625
22  12    50      10   mp  alex  v100  None  None  0.0569
23  12   100      10   mp  alex  v100  None  None  0.0548
24  13    50      10   mp  alex  v100  None  None  0.0673
25  13   100      10   mp  alex  v100  None  None  0.0583
26  14    50      10   mp  alex  v100  None  None  0.0620
27  14   100      10   mp  alex  v100  None  None  0.0629
28  15    50      10   mp  alex  v100  None  None  0.0685
29  15   100      10   mp  alex  v100  None  None  0.0669
30  16    50      10   mp  alex  v100  None  None  0.0693
31  16   100      10   mp  alex  v100  None  None  0.0806
32  17    50      10   mp  alex  v100  None  None  0.0738
33  17   100      10   mp  alex  v100  None  None  0.0752
34  18    50      10   mp  alex  v100  None  None  0.0743
35  18   100      10   mp  alex  v100  None  None  0.0784
36  19    50      10   mp  alex  v100  None  None  0.0831
37  19   100      10   mp  alex  v100  None  None  0.0818
38  20    50      10   mp  alex  v100  None  None  0.0862
39  20   100      10   mp  alex  v100  None  None  0.0837
40  21    50      10   mp  alex  v100  None  None  0.0885
41  21   100      10   mp  alex  v100  None  None  0.0882
42  22    50      10   mp  alex  v100  None  None  0.0920
43  22   100      10   mp  alex  v100  None  None  0.0918
44  23    50      10   mp  alex  v100  None  None  0.0943
45  23   100      10   mp  alex  v100  None  None  0.0958
46  24    50      10   mp  alex  v100  None  None  0.0934
47  24   100      10   mp  alex  v100  None  None  0.0958

In [8]:
def get_values(df, processes, sizes, sorts, users, nodes):
    _df = df[df['p'].isin(processes) & df['size'].isin(sizes) & df['sort'].isin(sorts) & df['user'].isin(users) & df['node'].isin(nodes)]
    return _df

In [9]:
_df = get_values(df, [1, 2, 3], [50], ["mp"], ["alex"], ["v100"])

In [ ]:
def calculate_speedup(df):

In [10]:
_df

     p  size  repeat sort  user  node     t     c   time
10   2    50      10   mp  alex  v100  None  None  0.028
11   2    50      10   mp  alex  v100  None  None  0.017
12   2    50      10   mp  alex  v100  None  None  0.017
13   2    50      10   mp  alex  v100  None  None  0.016
14   2    50      10   mp  alex  v100  None  None  0.018
15   2    50      10   mp  alex  v100  None  None  0.016
16   2    50      10   mp  alex  v100  None  None  0.017
17   2    50      10   mp  alex  v100  None  None  0.017
18   2    50      10   mp  alex  v100  None  None  0.017
19   2    50      10   mp  alex  v100  None  None  0.018
80   1    50      10   mp  alex  v100  None  None   0.12
81   1    50      10   mp  alex  v100  None  None  0.013
82   1    50      10   mp  alex  v100  None  None  0.027
83   1    50      10   mp  alex  v100  None  None  0.012
84   1    50      10   mp  alex  v100  None  None  0.011
85   1    50      10   mp  alex  v100  None  None  0.013
86   1    50      10   mp  alex  v100  None  None  0.011
87   1    50      10   mp  alex  v100  None  None  0.012
88   1    50      10   mp  alex  v100  None  None  0.011
89   1    50      10   mp  alex  v100  None  None  0.021
460  3    50      10   mp  alex  v100  None  None  0.035
461  3    50      10   mp  alex  v100  None  None   0.02
462  3    50      10   mp  alex  v100  None  None   0.02
463  3    50      10   mp  alex  v100  None  None  0.019
464  3    50      10   mp  alex  v100  None  None  0.019
465  3    50      10   mp  alex  v100  None  None  0.019
466  3    50      10   mp  alex  v100  None  None  0.019
467  3    50      10   mp  alex  v100  None  None  0.021
468  3    50      10   mp  alex  v100  None  None  0.019
469  3    50      10   mp  alex  v100  None  None  0.017

In [ ]:
def plot_benchmark_by_size(df, size=None, tag=None, files=None, x="sizes", y="time"):
    names = "-".join(files)
    sns.lineplot(data=df, x=x, y=y, hue="name");
    t = tag.title()
    label = f"{t}".replace("_", " ")
    plt.title(f"{label}")
    if "time" in y: y = f"{y}/s"
    if "time" in x: x = f"{x}/s"
    plt.xlabel(x.capitalize())
    plt.ylabel(y.capitalize())
    plt.savefig(f"images/{tag}-{names}.png")
    plt.savefig(f"images/{tag}-{names}.pdf")

In [ ]:
def plot()

In [ ]:
df

In [ ]:
df = df.pivot_table(
    values='time', index=['tag', 'processes'], columns=['name', 'size'], fill_value=0, aggfunc='mean')

In [ ]:
df

In [11]:
print(df.loc['mp-mergesort'])
speedup = df.rdiv(df.loc['seq-merge'].iloc[0])
speedup

KeyError: 'mp-mergesort'